extends common/header

block title
	| This is Page Title

block headertext
	| This is header text that has been overrided in index.jade

block content
	| This is content block also being overrided
	ul
		li
			block title
		li: a Haha
		li: a Nothing

	p Why are you dare
	h4 This guy below is belong to content2
//- Use prepend

block prepend content2
	p Haha I before default
	ul: li

//- Use append
block append content2
	| ... and this is append when extends it. Yolo