doctype html
html
	head
		title Using inline Javascript
	body
		div#got
		script.
			// this below is javascript
			if (window.jQuery)
				$("#got").text("We got jQuery in this page");
			else
				$("#got").text("We got jQuery in this page");
			var a= 1;
			b = 2;

		script
			include simple.js