//- Basic tag example

div
sometag
header
nav
h1
a
blockquote
main
aside
footer

//- Self-closing tag

input
br
hr
meta
link

//- Nesting tags


table
	tr
		td

table: tr: td



ul
	li: a: span
	li: a
	li: a
	li: ul
		li
		li
