p Place text just following tag with one space
p  Just 2 spaces

p
	| Or we can use pile symbol

p
	| This is line 1
	| and this is continue

p | has no effect if it's not in its own line

p
	| We can use tag inside a text
	br
	| we will add strong tag
	strong this is inside strong tag
	| This is end paragraph
	|haha