a( href="link.html", target="_blank", rel="nofollow" ) Click man

//- It can be each line with no comma needed
div(id="thisID", data-dir="html5")

a(
	href="link.html"
	target = "_self"
	rel="nofollow"
	class = ['classone', 'classtwo']
) Click here man

a.classname#idname(
	href="link.html"
	target = "_self"
	rel="nofollow"
) Click here man

input( type="button", value="This is button", name="name" )

