html
	head
		title Getting Started with Jade
	body
		h2 Welcome to Jade
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam sed laudantium voluptates adipisci, eaque provident vero consequatur perspiciatis odio ipsum ipsam, eum vitae ea at inventore iure corrupti! Debitis.
		pre this is code 
