head
	title Getting Started with Jade
body
	h2 Welcome to Jade
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est totam sed laudantium voluptates adipisci, eaque provident vero consequatur perspiciatis odio ipsum ipsam, eum vitae ea at inventore iure corrupti! Debitis.
	pre this is code 
	ul
		li List 1
		li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad excepturi ex at illum laudantium nam praesentium accusantium repellendus atque iusto reprehenderit inventore blanditiis, ullam ipsum laboriosam velit rerum tenetur pariatur.
		li not Lorem
		li list 3
	input(type="button", value="Click here guy")
	h3 So, that it